<html>
  <head></head>
  <body>
    <h1><%= @album.title%></h1>
    <p>
      Artist: <%= @artist.name%>,
      Release year: <%= @album.release_year%>,
      Genre: <%= @artist.genre%>.
    </p>
  </body>
</html>